@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?5vcr0l');
  src:  url('../fonts/icons.eot?5vcr0l#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?5vcr0l') format('truetype'),
    url('../fonts/icons.woff?5vcr0l') format('woff'),
    url('../fonts/icons.svg?5vcr0l#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-outline:before {
  content: "\e900";
}
.icon-cheveron-outline-down:before {
  content: "\e901";
}
.icon-cheveron-outline-up:before {
  content: "\e902";
}
.icon-minus-outline:before {
  content: "\e903";
}